<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2010 Aleksandr Dobkin, Michael Choi, and Christopher Mills.

This file is part of BusRadar <https://github.com/orgs/busradar/>.

BusRadar is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

BusRadar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="busradar.madison"
      android:versionCode="44"
      android:versionName="1.0.42"
      android:installLocation="auto">
	
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="24"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<supports-screens
	    android:xlargeScreens="false"
	    />

    <application android:label="@string/app_name"
    			 android:icon="@drawable/icon"
     			 android:theme="@android:style/Theme.NoTitleBar">
		<uses-library android:name="com.google.android.maps"/>
        <activity android:name="Main"
                  android:label="BusRadar"
                  android:configChanges="orientation|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
